*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: gray;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    
    
}
.search{
    display: flex;
}
.search-bar{
    width: 350px;
    padding: 6px;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    border: 1px black solid;
}
.search-button{
    border-radius: 8px;
    padding: 8px;
    border: 1px black solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    background-color: wheat;
    color: gray;
    font-weight: 600;
}
.show-checkout{
    background-color: wheat;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16;
    font-weight: 700;
    color: grey;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.3s;
}
.show-checkout:hover{
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.237);
}
.show-lesson{
    display: flex;
}



